/*!
 * Created by Jayant Bramhankar (www.sahyadritechnologies.com) 
 * Youtube Channel - https://www.youtube.com/channel/UCPSeFaxM6ni_HGpfkb3Kwbw;
 * License - Free to use
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgb(201, 219, 253);
    background-image:linear-gradient(top, rgb(167, 167, 167) 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:;
    width:100%;
   
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
  font-size: 1em;
}

/* Portrait layout (default) */
.app1 {
    background:url(../images/tabacologo.png) no-repeat center top; /* 170px x 200px */
   
    position:absolute;             /* position in the center of the screen */
    
    top:20%;
    height:210px;                   /* text area height */
    width:210px;                   /* text area width */
    text-align:center;
       /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 100px 0px 0px 75px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */

}

.app1 .start{
position: absolute;
  top: 100%; 
  left: 27%;
 text-decoration: none;
  background-color: rgb(16, 126, 190);
  font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    text-align:center;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    padding:2px 25px 8px 25px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app1{
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
#content{
  z-index: 10;
}



html {
    position: relative;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

}

.menubar{
  padding: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  display: block;
  top: 0;
  width: 100%;
  background-color: #2c92e6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  

}
.menubar li{
  
  list-style-type: none;
  
}


.menubar li a {   
  float: left;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  padding-top: 5px;
  line-height: auto;
}
 
 .center{
  font-weight: 1000;
  letter-spacing: -2px;
  color: #fc4976;
Font-family: 'Times New Roman';
;
 }
.menubar li a.active {
    color: #111;

}

.menubar li a i{
  padding: 5px;
}


.checklist{
  
  padding: 10px 10px 0 0px;
  color: #fff;
  z-index: 3;
  float: right;
  display: block;
  font-size: 10px;
  ;
  }

.menushape1{
  width: 450px;
  height: 450px;
  background-color: rgba(33,152,212,1);
background: linear-gradient(90deg, rgba(33,152,212,1) 5%, rgba(25,152,254,0.91) 35%, rgba(40,158,252,0.62) 100%);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: -1;
   position: fixed;
}


.menushape2{
  width: 400px;
  height: 400px;
  background-color: rgba(33,152,212,1);
background: linear-gradient(90deg, rgba(33,152,212,1) 5%, rgba(25,152,254,0.91) 35%, rgba(255,255,255,0.62) 100%);
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -100px;
  z-index: -1;
   position: fixed;
}

.sidenav{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #555;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 100;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 1.5em;
    color: rgba(33,152,212,1);
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenavshape{
  width: 400px;
  height: 500px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(116,203,247,1) 35%, rgba(33,152,212,1) 100%);
  border-radius: 10%;
  transform: rotate(40deg);
  position: absolute;
  top: -80px;
  left: -230px;
  z-index: -1;
}

.sidenav ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
}

.sidenav li:last-child{
  margin-top: auto;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  vertical-align: bottom;
  font-size: 0.8em;
  width: 120px;
  border:1px solid rgba(244, 215, 66,0.4);
 }

.sidenav li a:not(.closebtn) {
    display: block;
    color: #fff;
    padding: 8px 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    width: 160px;
}

.sidenav li.active a {
  font-weight: 600;
}
.sidenav li a:hover {
    background-color: #555;
    color: white;
}
 /* Collapsible */
.collapsible {
  background-color:  #f1f1f1;
  color: #000;
  cursor: pointer;
  padding: 16px;
  font-size: 20px;
  width: 55%;
  border: none;
  border-radius: 0px 30px 30px 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.activ, .collapsible:hover {
  background-color:#2980B9;
  border-radius: 0px 30px 30px 0px;

}

.contentt {
  width: 80%;
  padding: 0 0px;
  display: none;
  overflow: hidden;
  color: black;
  background-color:#555;
  border: 1px solid #111;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile img{
  width: 100px;
  background-color: rgba(244, 215, 66,0.4)
  border:5px solid rgba(244, 215, 66,0.8);
  float: right;
  margin: 0 45px;
}

.profile h3{
  position: absolute;
  font-size: 1.4em;
  width: 100px;
  
  
  margin: 2px 0;
  color: #555;
  top: 75px;
  left: 20px;
}

.profile p{
  position: absolute;
  top: 130px;
  left: 20px;
  
  color: #000;
  border-top: 1px solid #fff;
  letter-spacing: 1px;
}

.clearfix
{
  clear: both;
}


/**HOME PAGE**/


.spot{
  margin-top: 0px;
  padding: 0px;

}
.t-spot{
  overflow: hidden;
  position: fixed;
  right: 0%;
  width: 100%;
  padding: 10px 20px;
  top: 50px;
  background-color: rgba(68, 168, 250, 0.61);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  left: 0px;
  height: 60px; 
}

.t-spot a{
  letter-spacing: -1px;
   padding: 10px 20px 0px 20px; 
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.t-spot a.on{
  
  border-bottom: 1px solid black;
}
.t-spot a:hover{
  border-bottom: 2px solid black;
}

.spot .spot-img {
  
  padding: 15px;
 
}

.spot .spot-img img{ 
  height: auto;
  width: 100%;
  border:5px solid rgba(3,152,212,1);
  border-radius: 10px;
  float: left;
  box-shadow: -4px -2px 0.5px rgba(3,152,212,1);
  position: relative;
  top: 80px;
}
.spot .spot-desc {
  margin-top: auto;
  height: auto;
  border-top:1px dashed rgba(3,152,212,1);
  border-bottom:1px dotted rgba(3,152,212,1);
  padding: 0px 0 5px 15px;
  float: left;
  width: 100%;
 
  position: inherit;
}

.spot .spot-img h4{
  font-size: 1.1em;
  font-weight: 600;
}
.spot .spot-img p{
  font-size: 0.9em;
}

.spot .spot-img .social{ 
  height: auto;
  width: 100%;
  border:2px solid rgba(64,89,231,0.4);
  box-shadow: 0px 1px 0.3px rgba(0,0,0,0.7);
  position: static;
 padding-right: 0;
}

.spot .spot-img .social a{
  margin-left: 30px;
  float: left;
  left: 900;
  line-height: 30px;
  padding-top: px;
}

.spot .spot-img .social span{
  font-size: .7em;
  color: #111;
}
.spot .spot-img .social .fa-heart{
 color: red;
 font-size: 1.3em;
 text-align: left;
}
.spot .spot-img .social .fa-comment{
 color: rgb(110, 108, 108);
 font-size: 1.5em;
 text-align: center;
}
.spot .spot-img .social .fa-share{
 color: #111;
 font-size: 1.3em;
 text-align: right;
}

.commentt{
  background-color: #bbc8ec;
  color: 4a4a4b;
  padding: 10px;
  border-radius: 0% 0% 10% 10%;
  position: inherit;
}

.line{
  border-bottom: 2px solid gray;
  
}



/* bottom nav */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  border-top: 1px solid rgb(183, 218, 224);
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  left: 0px;
  height: 60px;
  padding: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: rgb(8, 141, 230);
  color: white;
}


/* Slideshow*/
.auto-slide {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 1px solid #111;  
  top:80px;
  padding-top: 20px;
}

.stars {
  
  font-size: 15px;
  padding: 30px 12px;
  position: relative;
  top: 0px;
  color: #fff;
}

.checked {
  color: orange;
}



.showLeft{
                    background-color: #4aaeff4b !important;
                    border-radius: 30%;
                    text-shadow: none !important;
                    color:#fff !important;
                    padding:10px;
                    margin-right: 10px;

                }

                .icons li {
                    background: none repeat scroll 0 0 #fff;
                    height: 7px;
                    width: 7px;
                    line-height: 0;
                    list-style: none outside none;
                    margin-right: 0px;
                    margin-top: 3px;
                    vertical-align: top;
                    border-radius:50%;
                    pointer-events: none;

                }

                .btn-left {
                    left: 0.4em;
                }

                .btn-right {
                    right: 0.4em;
                }

                .btn-left, .btn-right {
                    position: absolute;
                    top: 520px;
                    z-index: 0;
                }
